<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuxin.platform.subpublic.mapper.QyryxxLsxxMapper">
    <resultMap id="BaseResultMap" type="com.yuxin.platform.subpublic.pojo.QyryxxLsxx">
        <id column="RYLSID" property="rylsid" jdbcType="INTEGER"/>
        <result column="HYLBDM" property="hylbdm" jdbcType="VARCHAR"/>
        <result column="HYLB" property="hylb" jdbcType="VARCHAR"/>
        <result column="CYRYBH" property="cyrybh" jdbcType="VARCHAR"/>
        <result column="CYRYLBDM" property="cyrylbdm" jdbcType="VARCHAR"/>
        <result column="CYRYLBMC" property="cyrylbmc" jdbcType="VARCHAR"/>
        <result column="XM" property="xm" jdbcType="VARCHAR"/>
        <result column="QM" property="qm" jdbcType="VARCHAR"/>
        <result column="BM" property="bm" jdbcType="VARCHAR"/>
        <result column="XMPY" property="xmpy" jdbcType="VARCHAR"/>
        <result column="GJDM" property="gjdm" jdbcType="VARCHAR"/>
        <result column="GJ" property="gj" jdbcType="VARCHAR"/>
        <result column="MZDM" property="mzdm" jdbcType="VARCHAR"/>
        <result column="MINZU" property="minzu" jdbcType="VARCHAR"/>
        <result column="XBDM" property="xbdm" jdbcType="VARCHAR"/>
        <result column="XB" property="xb" jdbcType="VARCHAR"/>
        <result column="CSRQ" property="csrq" jdbcType="TIMESTAMP"/>
        <result column="HYZKDM" property="hyzkdm" jdbcType="VARCHAR"/>
        <result column="HYZK" property="hyzk" jdbcType="VARCHAR"/>
        <result column="SHENGAO" property="shengao" jdbcType="DECIMAL"/>
        <result column="TIZH" property="tizh" jdbcType="DECIMAL"/>
        <result column="HJDXZQH" property="hjdxzqh" jdbcType="VARCHAR"/>
        <result column="HJDXZQHDM" property="hjdxzqhdm" jdbcType="VARCHAR"/>
        <result column="HJDXZ" property="hjdxz" jdbcType="VARCHAR"/>
        <result column="CYZJDM" property="cyzjdm" jdbcType="VARCHAR"/>
        <result column="CYZJ" property="cyzj" jdbcType="VARCHAR"/>
        <result column="ZJHM" property="zjhm" jdbcType="VARCHAR"/>
        <result column="ZZZHM" property="zzzhm" jdbcType="VARCHAR"/>
        <result column="ZZDZ" property="zzdz" jdbcType="VARCHAR"/>
        <result column="GWBH" property="gwbh" jdbcType="VARCHAR"/>
        <result column="GWMC" property="gwmc" jdbcType="VARCHAR"/>
        <result column="GWZRMS" property="gwzrms" jdbcType="VARCHAR"/>
        <result column="SHOUJI" property="shouji" jdbcType="VARCHAR"/>
        <result column="LXDH" property="lxdh" jdbcType="VARCHAR"/>
        <result column="JJLXR" property="jjlxr" jdbcType="VARCHAR"/>
        <result column="JJLXRDH" property="jjlxrdh" jdbcType="VARCHAR"/>
        <result column="GZDM" property="gzdm" jdbcType="VARCHAR"/>
        <result column="GZ" property="gz" jdbcType="VARCHAR"/>
        <result column="ZHIWU" property="zhiwu" jdbcType="VARCHAR"/>
        <result column="RZRQ" property="rzrq" jdbcType="TIMESTAMP"/>
        <result column="CYRYZTDM" property="cyryztdm" jdbcType="VARCHAR"/>
        <result column="CYRYZT" property="cyryzt" jdbcType="VARCHAR"/>
        <result column="ZXR" property="zxr" jdbcType="VARCHAR"/>
        <result column="ZXBZ" property="zxbz" jdbcType="VARCHAR"/>
        <result column="ZXSJ" property="zxsj" jdbcType="TIMESTAMP"/>
        <result column="LRSJ" property="lrsj" jdbcType="TIMESTAMP"/>
        <result column="LRR" property="lrr" jdbcType="VARCHAR"/>
        <result column="LRDWBM" property="lrdwbm" jdbcType="VARCHAR"/>
        <result column="LRDWMC" property="lrdwmc" jdbcType="VARCHAR"/>
        <result column="HCDW" property="hcdw" jdbcType="VARCHAR"/>
        <result column="HCR" property="hcr" jdbcType="VARCHAR"/>
        <result column="HCSJ" property="hcsj" jdbcType="TIMESTAMP"/>
        <result column="ZXYY" property="zxyy" jdbcType="VARCHAR"/>
        <result column="ZKZT" property="zkzt" jdbcType="VARCHAR"/>
        <result column="BCSJ" property="bcsj" jdbcType="TIMESTAMP"/>
        <result column="DCBS" property="dcbs" jdbcType="DECIMAL"/>
        <result column="BZ" property="bz" jdbcType="VARCHAR"/>
        <result column="SCBZ" property="scbz" jdbcType="DECIMAL"/>
        <result column="BIDUIFLAG" property="biduiflag" jdbcType="CHAR"/>
        <result column="ZPWTGYY" property="zpwtgyy" jdbcType="VARCHAR"/>
        <result column="ZT" property="zt" jdbcType="VARCHAR"/>
        <result column="YWX" property="ywx" jdbcType="VARCHAR"/>
        <result column="YWM" property="ywm" jdbcType="VARCHAR"/>
        <result column="WGRJYXKZ" property="wgrjyxkz" jdbcType="VARCHAR"/>
        <result column="QZZLDM" property="qzzldm" jdbcType="VARCHAR"/>
        <result column="QZHM" property="qzhm" jdbcType="VARCHAR"/>
        <result column="ZATLQ" property="zatlq" jdbcType="TIMESTAMP"/>
        <result column="QFJG" property="qfjg" jdbcType="VARCHAR"/>
        <result column="RJRQ" property="rjrq" jdbcType="TIMESTAMP"/>
        <result column="RJKA" property="rjka" jdbcType="VARCHAR"/>
        <result column="CZLX" property="czlx" jdbcType="VARCHAR"/>
        <result column="BGYY" property="bgyy" jdbcType="VARCHAR"/>
        <result column="BGLBDM" property="bglbdm" jdbcType="VARCHAR"/>
        <result column="BGLB" property="bglb" jdbcType="VARCHAR"/>
        <result column="LZRQ" property="lzrq" jdbcType="TIMESTAMP"/>
        <result column="XXDM" property="xxdm" jdbcType="VARCHAR"/>
        <result column="XX" property="xx" jdbcType="VARCHAR"/>
        <result column="CYLBDM" property="cylbdm" jdbcType="VARCHAR"/>
        <result column="CYLB" property="cylb" jdbcType="VARCHAR"/>
        <result column="WHCDDM" property="whcddm" jdbcType="VARCHAR"/>
        <result column="WHCD" property="whcd" jdbcType="VARCHAR"/>
        <result column="YJBZ" property="yjbz" jdbcType="CHAR"/>
        <result column="YJSJ" property="yjsj" jdbcType="TIMESTAMP"/>
        <result column="DJRQ" property="djrq" jdbcType="TIMESTAMP"/>
        <result column="HJLBDM" property="hjlbdm" jdbcType="VARCHAR"/>
        <result column="HJLBMC" property="hjlbmc" jdbcType="VARCHAR"/>
        <result column="ZZMMDM" property="zzmmdm" jdbcType="VARCHAR"/>
        <result column="ZZMMMC" property="zzmmmc" jdbcType="VARCHAR"/>
        <result column="ZYJNZSH" property="zyjnzsh" jdbcType="VARCHAR"/>
        <result column="KDYWYZYZGZHM" property="kdywyzyzgzhm" jdbcType="VARCHAR"/>
        <result column="XZDXZQHDM" property="xzdxzqhdm" jdbcType="VARCHAR"/>
        <result column="XZDXZQH" property="xzdxzqh" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        RYLSID, HYLBDM, HYLB, CYRYBH, CYRYLBDM, CYRYLBMC, XM, QM, BM, XMPY, GJDM, GJ, MZDM,
        MINZU, XBDM, XB, CSRQ, HYZKDM, HYZK, SHENGAO, TIZH, HJDXZQH, HJDXZQHDM, HJDXZ, CYZJDM,
        CYZJ, ZJHM, ZZZHM, ZZDZ, GWBH, GWMC, GWZRMS, SHOUJI, LXDH, JJLXR, JJLXRDH, GZDM,
        GZ, ZHIWU, RZRQ, CYRYZTDM, CYRYZT, ZXR, ZXBZ, ZXSJ, LRSJ, LRR, LRDWBM, LRDWMC, HCDW,
        HCR, HCSJ, ZXYY, ZKZT, BCSJ, DCBS, BZ, SCBZ, BIDUIFLAG, ZPWTGYY, ZT, YWX, YWM, WGRJYXKZ,
        QZZLDM, QZHM, ZATLQ, QFJG, RJRQ, RJKA, CZLX, BGYY, BGLBDM, BGLB, LZRQ, XXDM, XX,
        CYLBDM, CYLB, WHCDDM, WHCD, YJBZ, YJSJ, DJRQ, HJLBDM, HJLBMC, ZZMMDM, ZZMMMC, ZYJNZSH,
        KDYWYZYZGZHM, XZDXZQHDM, XZDXZQH
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from pub_qyryxx_lsxx
        where RYLSID = #{rylsid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from pub_qyryxx_lsxx
        where RYLSID = #{rylsid,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.yuxin.platform.subpublic.pojo.QyryxxLsxx">
        <selectKey  keyProperty="rylsid" resultType="int" order="BEFORE">
            select nvl(max(rylsid),0)+1 from pub_qyryxx_lsxx
        </selectKey>
        insert into pub_qyryxx_lsxx (RYLSID, HYLBDM, HYLB,
        CYRYBH, CYRYLBDM, CYRYLBMC,
        XM, QM, BM, XMPY,
        GJDM, GJ, MZDM, MINZU,
        XBDM, XB, CSRQ, HYZKDM,
        HYZK, SHENGAO, TIZH,
        HJDXZQH, HJDXZQHDM, HJDXZ,
        CYZJDM, CYZJ, ZJHM,
        ZZZHM, ZZDZ, GWBH,
        GWMC, GWZRMS, SHOUJI,
        LXDH, JJLXR, JJLXRDH,
        GZDM, GZ, ZHIWU, RZRQ,
        CYRYZTDM, CYRYZT, ZXR,
        ZXBZ, ZXSJ, LRSJ,
        LRR, LRDWBM, LRDWMC,
        HCDW, HCR, HCSJ,
        ZXYY, ZKZT, BCSJ,
        DCBS, BZ, SCBZ, BIDUIFLAG,
        ZPWTGYY, ZT, YWX, YWM,
        WGRJYXKZ, QZZLDM, QZHM,
        ZATLQ, QFJG, RJRQ,
        RJKA, CZLX, BGYY, BGLBDM,
        BGLB, LZRQ, XXDM,
        XX, CYLBDM, CYLB, WHCDDM,
        WHCD, YJBZ, YJSJ, DJRQ,
        HJLBDM, HJLBMC, ZZMMDM,
        ZZMMMC, ZYJNZSH, KDYWYZYZGZHM,
        XZDXZQHDM, XZDXZQH)
        values (#{rylsid,jdbcType=INTEGER}, #{hylbdm,jdbcType=VARCHAR}, #{hylb,jdbcType=VARCHAR},
        #{cyrybh,jdbcType=VARCHAR}, #{cyrylbdm,jdbcType=VARCHAR}, #{cyrylbmc,jdbcType=VARCHAR},
        #{xm,jdbcType=VARCHAR}, #{qm,jdbcType=VARCHAR}, #{bm,jdbcType=VARCHAR}, #{xmpy,jdbcType=VARCHAR},
        #{gjdm,jdbcType=VARCHAR}, #{gj,jdbcType=VARCHAR}, #{mzdm,jdbcType=VARCHAR}, #{minzu,jdbcType=VARCHAR},
        #{xbdm,jdbcType=VARCHAR}, #{xb,jdbcType=VARCHAR}, #{csrq,jdbcType=TIMESTAMP}, #{hyzkdm,jdbcType=VARCHAR},
        #{hyzk,jdbcType=VARCHAR}, #{shengao,jdbcType=DECIMAL}, #{tizh,jdbcType=DECIMAL},
        #{hjdxzqh,jdbcType=VARCHAR}, #{hjdxzqhdm,jdbcType=VARCHAR}, #{hjdxz,jdbcType=VARCHAR},
        #{cyzjdm,jdbcType=VARCHAR}, #{cyzj,jdbcType=VARCHAR}, #{zjhm,jdbcType=VARCHAR},
        #{zzzhm,jdbcType=VARCHAR}, #{zzdz,jdbcType=VARCHAR}, #{gwbh,jdbcType=VARCHAR},
        #{gwmc,jdbcType=VARCHAR}, #{gwzrms,jdbcType=VARCHAR}, #{shouji,jdbcType=VARCHAR},
        #{lxdh,jdbcType=VARCHAR}, #{jjlxr,jdbcType=VARCHAR}, #{jjlxrdh,jdbcType=VARCHAR},
        #{gzdm,jdbcType=VARCHAR}, #{gz,jdbcType=VARCHAR}, #{zhiwu,jdbcType=VARCHAR}, #{rzrq,jdbcType=TIMESTAMP},
        #{cyryztdm,jdbcType=VARCHAR}, #{cyryzt,jdbcType=VARCHAR}, #{zxr,jdbcType=VARCHAR},
        #{zxbz,jdbcType=VARCHAR}, #{zxsj,jdbcType=TIMESTAMP}, #{lrsj,jdbcType=TIMESTAMP},
        #{lrr,jdbcType=VARCHAR}, #{lrdwbm,jdbcType=VARCHAR}, #{lrdwmc,jdbcType=VARCHAR},
        #{hcdw,jdbcType=VARCHAR}, #{hcr,jdbcType=VARCHAR}, #{hcsj,jdbcType=TIMESTAMP},
        #{zxyy,jdbcType=VARCHAR}, #{zkzt,jdbcType=VARCHAR}, #{bcsj,jdbcType=TIMESTAMP},
        #{dcbs,jdbcType=DECIMAL}, #{bz,jdbcType=VARCHAR}, #{scbz,jdbcType=DECIMAL}, #{biduiflag,jdbcType=CHAR},
        #{zpwtgyy,jdbcType=VARCHAR}, #{zt,jdbcType=VARCHAR}, #{ywx,jdbcType=VARCHAR}, #{ywm,jdbcType=VARCHAR},
        #{wgrjyxkz,jdbcType=VARCHAR}, #{qzzldm,jdbcType=VARCHAR}, #{qzhm,jdbcType=VARCHAR},
        #{zatlq,jdbcType=TIMESTAMP}, #{qfjg,jdbcType=VARCHAR}, #{rjrq,jdbcType=TIMESTAMP},
        #{rjka,jdbcType=VARCHAR}, #{czlx,jdbcType=VARCHAR}, #{bgyy,jdbcType=VARCHAR}, #{bglbdm,jdbcType=VARCHAR},
        #{bglb,jdbcType=VARCHAR}, #{lzrq,jdbcType=TIMESTAMP}, #{xxdm,jdbcType=VARCHAR},
        #{xx,jdbcType=VARCHAR}, #{cylbdm,jdbcType=VARCHAR}, #{cylb,jdbcType=VARCHAR}, #{whcddm,jdbcType=VARCHAR},
        #{whcd,jdbcType=VARCHAR}, #{yjbz,jdbcType=CHAR}, #{yjsj,jdbcType=TIMESTAMP}, #{djrq,jdbcType=TIMESTAMP},
        #{hjlbdm,jdbcType=VARCHAR}, #{hjlbmc,jdbcType=VARCHAR}, #{zzmmdm,jdbcType=VARCHAR},
        #{zzmmmc,jdbcType=VARCHAR}, #{zyjnzsh,jdbcType=VARCHAR}, #{kdywyzyzgzhm,jdbcType=VARCHAR},
        #{xzdxzqhdm,jdbcType=VARCHAR}, #{xzdxzqh,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.yuxin.platform.subpublic.pojo.QyryxxLsxx">
        <selectKey  keyProperty="rylsid" resultType="int" order="BEFORE">
            select nvl(max(rylsid),0)+1 from pub_qyryxx_lsxx
        </selectKey>
        insert into pub_qyryxx_lsxx
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rylsid != null">
                RYLSID,
            </if>
            <if test="hylbdm != null">
                HYLBDM,
            </if>
            <if test="hylb != null">
                HYLB,
            </if>
            <if test="cyrybh != null">
                CYRYBH,
            </if>
            <if test="cyrylbdm != null">
                CYRYLBDM,
            </if>
            <if test="cyrylbmc != null">
                CYRYLBMC,
            </if>
            <if test="xm != null">
                XM,
            </if>
            <if test="qm != null">
                QM,
            </if>
            <if test="bm != null">
                BM,
            </if>
            <if test="xmpy != null">
                XMPY,
            </if>
            <if test="gjdm != null">
                GJDM,
            </if>
            <if test="gj != null">
                GJ,
            </if>
            <if test="mzdm != null">
                MZDM,
            </if>
            <if test="minzu != null">
                MINZU,
            </if>
            <if test="xbdm != null">
                XBDM,
            </if>
            <if test="xb != null">
                XB,
            </if>
            <if test="csrq != null">
                CSRQ,
            </if>
            <if test="hyzkdm != null">
                HYZKDM,
            </if>
            <if test="hyzk != null">
                HYZK,
            </if>
            <if test="shengao != null">
                SHENGAO,
            </if>
            <if test="tizh != null">
                TIZH,
            </if>
            <if test="hjdxzqh != null">
                HJDXZQH,
            </if>
            <if test="hjdxzqhdm != null">
                HJDXZQHDM,
            </if>
            <if test="hjdxz != null">
                HJDXZ,
            </if>
            <if test="cyzjdm != null">
                CYZJDM,
            </if>
            <if test="cyzj != null">
                CYZJ,
            </if>
            <if test="zjhm != null">
                ZJHM,
            </if>
            <if test="zzzhm != null">
                ZZZHM,
            </if>
            <if test="zzdz != null">
                ZZDZ,
            </if>
            <if test="gwbh != null">
                GWBH,
            </if>
            <if test="gwmc != null">
                GWMC,
            </if>
            <if test="gwzrms != null">
                GWZRMS,
            </if>
            <if test="shouji != null">
                SHOUJI,
            </if>
            <if test="lxdh != null">
                LXDH,
            </if>
            <if test="jjlxr != null">
                JJLXR,
            </if>
            <if test="jjlxrdh != null">
                JJLXRDH,
            </if>
            <if test="gzdm != null">
                GZDM,
            </if>
            <if test="gz != null">
                GZ,
            </if>
            <if test="zhiwu != null">
                ZHIWU,
            </if>
            <if test="rzrq != null">
                RZRQ,
            </if>
            <if test="cyryztdm != null">
                CYRYZTDM,
            </if>
            <if test="cyryzt != null">
                CYRYZT,
            </if>
            <if test="zxr != null">
                ZXR,
            </if>
            <if test="zxbz != null">
                ZXBZ,
            </if>
            <if test="zxsj != null">
                ZXSJ,
            </if>
            <if test="lrsj != null">
                LRSJ,
            </if>
            <if test="lrr != null">
                LRR,
            </if>
            <if test="lrdwbm != null">
                LRDWBM,
            </if>
            <if test="lrdwmc != null">
                LRDWMC,
            </if>
            <if test="hcdw != null">
                HCDW,
            </if>
            <if test="hcr != null">
                HCR,
            </if>
            <if test="hcsj != null">
                HCSJ,
            </if>
            <if test="zxyy != null">
                ZXYY,
            </if>
            <if test="zkzt != null">
                ZKZT,
            </if>
            <if test="bcsj != null">
                BCSJ,
            </if>
            <if test="dcbs != null">
                DCBS,
            </if>
            <if test="bz != null">
                BZ,
            </if>
            <if test="scbz != null">
                SCBZ,
            </if>
            <if test="biduiflag != null">
                BIDUIFLAG,
            </if>
            <if test="zpwtgyy != null">
                ZPWTGYY,
            </if>
            <if test="zt != null">
                ZT,
            </if>
            <if test="ywx != null">
                YWX,
            </if>
            <if test="ywm != null">
                YWM,
            </if>
            <if test="wgrjyxkz != null">
                WGRJYXKZ,
            </if>
            <if test="qzzldm != null">
                QZZLDM,
            </if>
            <if test="qzhm != null">
                QZHM,
            </if>
            <if test="zatlq != null">
                ZATLQ,
            </if>
            <if test="qfjg != null">
                QFJG,
            </if>
            <if test="rjrq != null">
                RJRQ,
            </if>
            <if test="rjka != null">
                RJKA,
            </if>
            <if test="czlx != null">
                CZLX,
            </if>
            <if test="bgyy != null">
                BGYY,
            </if>
            <if test="bglbdm != null">
                BGLBDM,
            </if>
            <if test="bglb != null">
                BGLB,
            </if>
            <if test="lzrq != null">
                LZRQ,
            </if>
            <if test="xxdm != null">
                XXDM,
            </if>
            <if test="xx != null">
                XX,
            </if>
            <if test="cylbdm != null">
                CYLBDM,
            </if>
            <if test="cylb != null">
                CYLB,
            </if>
            <if test="whcddm != null">
                WHCDDM,
            </if>
            <if test="whcd != null">
                WHCD,
            </if>
            <if test="yjbz != null">
                YJBZ,
            </if>
            <if test="yjsj != null">
                YJSJ,
            </if>
            <if test="djrq != null">
                DJRQ,
            </if>
            <if test="hjlbdm != null">
                HJLBDM,
            </if>
            <if test="hjlbmc != null">
                HJLBMC,
            </if>
            <if test="zzmmdm != null">
                ZZMMDM,
            </if>
            <if test="zzmmmc != null">
                ZZMMMC,
            </if>
            <if test="zyjnzsh != null">
                ZYJNZSH,
            </if>
            <if test="kdywyzyzgzhm != null">
                KDYWYZYZGZHM,
            </if>
            <if test="xzdxzqhdm != null">
                XZDXZQHDM,
            </if>
            <if test="xzdxzqh != null">
                XZDXZQH,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rylsid != null">
                #{rylsid,jdbcType=INTEGER},
            </if>
            <if test="hylbdm != null">
                #{hylbdm,jdbcType=VARCHAR},
            </if>
            <if test="hylb != null">
                #{hylb,jdbcType=VARCHAR},
            </if>
            <if test="cyrybh != null">
                #{cyrybh,jdbcType=VARCHAR},
            </if>
            <if test="cyrylbdm != null">
                #{cyrylbdm,jdbcType=VARCHAR},
            </if>
            <if test="cyrylbmc != null">
                #{cyrylbmc,jdbcType=VARCHAR},
            </if>
            <if test="xm != null">
                #{xm,jdbcType=VARCHAR},
            </if>
            <if test="qm != null">
                #{qm,jdbcType=VARCHAR},
            </if>
            <if test="bm != null">
                #{bm,jdbcType=VARCHAR},
            </if>
            <if test="xmpy != null">
                #{xmpy,jdbcType=VARCHAR},
            </if>
            <if test="gjdm != null">
                #{gjdm,jdbcType=VARCHAR},
            </if>
            <if test="gj != null">
                #{gj,jdbcType=VARCHAR},
            </if>
            <if test="mzdm != null">
                #{mzdm,jdbcType=VARCHAR},
            </if>
            <if test="minzu != null">
                #{minzu,jdbcType=VARCHAR},
            </if>
            <if test="xbdm != null">
                #{xbdm,jdbcType=VARCHAR},
            </if>
            <if test="xb != null">
                #{xb,jdbcType=VARCHAR},
            </if>
            <if test="csrq != null">
                #{csrq,jdbcType=TIMESTAMP},
            </if>
            <if test="hyzkdm != null">
                #{hyzkdm,jdbcType=VARCHAR},
            </if>
            <if test="hyzk != null">
                #{hyzk,jdbcType=VARCHAR},
            </if>
            <if test="shengao != null">
                #{shengao,jdbcType=DECIMAL},
            </if>
            <if test="tizh != null">
                #{tizh,jdbcType=DECIMAL},
            </if>
            <if test="hjdxzqh != null">
                #{hjdxzqh,jdbcType=VARCHAR},
            </if>
            <if test="hjdxzqhdm != null">
                #{hjdxzqhdm,jdbcType=VARCHAR},
            </if>
            <if test="hjdxz != null">
                #{hjdxz,jdbcType=VARCHAR},
            </if>
            <if test="cyzjdm != null">
                #{cyzjdm,jdbcType=VARCHAR},
            </if>
            <if test="cyzj != null">
                #{cyzj,jdbcType=VARCHAR},
            </if>
            <if test="zjhm != null">
                #{zjhm,jdbcType=VARCHAR},
            </if>
            <if test="zzzhm != null">
                #{zzzhm,jdbcType=VARCHAR},
            </if>
            <if test="zzdz != null">
                #{zzdz,jdbcType=VARCHAR},
            </if>
            <if test="gwbh != null">
                #{gwbh,jdbcType=VARCHAR},
            </if>
            <if test="gwmc != null">
                #{gwmc,jdbcType=VARCHAR},
            </if>
            <if test="gwzrms != null">
                #{gwzrms,jdbcType=VARCHAR},
            </if>
            <if test="shouji != null">
                #{shouji,jdbcType=VARCHAR},
            </if>
            <if test="lxdh != null">
                #{lxdh,jdbcType=VARCHAR},
            </if>
            <if test="jjlxr != null">
                #{jjlxr,jdbcType=VARCHAR},
            </if>
            <if test="jjlxrdh != null">
                #{jjlxrdh,jdbcType=VARCHAR},
            </if>
            <if test="gzdm != null">
                #{gzdm,jdbcType=VARCHAR},
            </if>
            <if test="gz != null">
                #{gz,jdbcType=VARCHAR},
            </if>
            <if test="zhiwu != null">
                #{zhiwu,jdbcType=VARCHAR},
            </if>
            <if test="rzrq != null">
                #{rzrq,jdbcType=TIMESTAMP},
            </if>
            <if test="cyryztdm != null">
                #{cyryztdm,jdbcType=VARCHAR},
            </if>
            <if test="cyryzt != null">
                #{cyryzt,jdbcType=VARCHAR},
            </if>
            <if test="zxr != null">
                #{zxr,jdbcType=VARCHAR},
            </if>
            <if test="zxbz != null">
                #{zxbz,jdbcType=VARCHAR},
            </if>
            <if test="zxsj != null">
                #{zxsj,jdbcType=TIMESTAMP},
            </if>
            <if test="lrsj != null">
                #{lrsj,jdbcType=TIMESTAMP},
            </if>
            <if test="lrr != null">
                #{lrr,jdbcType=VARCHAR},
            </if>
            <if test="lrdwbm != null">
                #{lrdwbm,jdbcType=VARCHAR},
            </if>
            <if test="lrdwmc != null">
                #{lrdwmc,jdbcType=VARCHAR},
            </if>
            <if test="hcdw != null">
                #{hcdw,jdbcType=VARCHAR},
            </if>
            <if test="hcr != null">
                #{hcr,jdbcType=VARCHAR},
            </if>
            <if test="hcsj != null">
                #{hcsj,jdbcType=TIMESTAMP},
            </if>
            <if test="zxyy != null">
                #{zxyy,jdbcType=VARCHAR},
            </if>
            <if test="zkzt != null">
                #{zkzt,jdbcType=VARCHAR},
            </if>
            <if test="bcsj != null">
                #{bcsj,jdbcType=TIMESTAMP},
            </if>
            <if test="dcbs != null">
                #{dcbs,jdbcType=DECIMAL},
            </if>
            <if test="bz != null">
                #{bz,jdbcType=VARCHAR},
            </if>
            <if test="scbz != null">
                #{scbz,jdbcType=DECIMAL},
            </if>
            <if test="biduiflag != null">
                #{biduiflag,jdbcType=CHAR},
            </if>
            <if test="zpwtgyy != null">
                #{zpwtgyy,jdbcType=VARCHAR},
            </if>
            <if test="zt != null">
                #{zt,jdbcType=VARCHAR},
            </if>
            <if test="ywx != null">
                #{ywx,jdbcType=VARCHAR},
            </if>
            <if test="ywm != null">
                #{ywm,jdbcType=VARCHAR},
            </if>
            <if test="wgrjyxkz != null">
                #{wgrjyxkz,jdbcType=VARCHAR},
            </if>
            <if test="qzzldm != null">
                #{qzzldm,jdbcType=VARCHAR},
            </if>
            <if test="qzhm != null">
                #{qzhm,jdbcType=VARCHAR},
            </if>
            <if test="zatlq != null">
                #{zatlq,jdbcType=TIMESTAMP},
            </if>
            <if test="qfjg != null">
                #{qfjg,jdbcType=VARCHAR},
            </if>
            <if test="rjrq != null">
                #{rjrq,jdbcType=TIMESTAMP},
            </if>
            <if test="rjka != null">
                #{rjka,jdbcType=VARCHAR},
            </if>
            <if test="czlx != null">
                #{czlx,jdbcType=VARCHAR},
            </if>
            <if test="bgyy != null">
                #{bgyy,jdbcType=VARCHAR},
            </if>
            <if test="bglbdm != null">
                #{bglbdm,jdbcType=VARCHAR},
            </if>
            <if test="bglb != null">
                #{bglb,jdbcType=VARCHAR},
            </if>
            <if test="lzrq != null">
                #{lzrq,jdbcType=TIMESTAMP},
            </if>
            <if test="xxdm != null">
                #{xxdm,jdbcType=VARCHAR},
            </if>
            <if test="xx != null">
                #{xx,jdbcType=VARCHAR},
            </if>
            <if test="cylbdm != null">
                #{cylbdm,jdbcType=VARCHAR},
            </if>
            <if test="cylb != null">
                #{cylb,jdbcType=VARCHAR},
            </if>
            <if test="whcddm != null">
                #{whcddm,jdbcType=VARCHAR},
            </if>
            <if test="whcd != null">
                #{whcd,jdbcType=VARCHAR},
            </if>
            <if test="yjbz != null">
                #{yjbz,jdbcType=CHAR},
            </if>
            <if test="yjsj != null">
                #{yjsj,jdbcType=TIMESTAMP},
            </if>
            <if test="djrq != null">
                #{djrq,jdbcType=TIMESTAMP},
            </if>
            <if test="hjlbdm != null">
                #{hjlbdm,jdbcType=VARCHAR},
            </if>
            <if test="hjlbmc != null">
                #{hjlbmc,jdbcType=VARCHAR},
            </if>
            <if test="zzmmdm != null">
                #{zzmmdm,jdbcType=VARCHAR},
            </if>
            <if test="zzmmmc != null">
                #{zzmmmc,jdbcType=VARCHAR},
            </if>
            <if test="zyjnzsh != null">
                #{zyjnzsh,jdbcType=VARCHAR},
            </if>
            <if test="kdywyzyzgzhm != null">
                #{kdywyzyzgzhm,jdbcType=VARCHAR},
            </if>
            <if test="xzdxzqhdm != null">
                #{xzdxzqhdm,jdbcType=VARCHAR},
            </if>
            <if test="xzdxzqh != null">
                #{xzdxzqh,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yuxin.platform.subpublic.pojo.QyryxxLsxx">
        update pub_qyryxx_lsxx
        <set>
            <if test="hylbdm != null">
                HYLBDM = #{hylbdm,jdbcType=VARCHAR},
            </if>
            <if test="hylb != null">
                HYLB = #{hylb,jdbcType=VARCHAR},
            </if>
            <if test="cyrybh != null">
                CYRYBH = #{cyrybh,jdbcType=VARCHAR},
            </if>
            <if test="cyrylbdm != null">
                CYRYLBDM = #{cyrylbdm,jdbcType=VARCHAR},
            </if>
            <if test="cyrylbmc != null">
                CYRYLBMC = #{cyrylbmc,jdbcType=VARCHAR},
            </if>
            <if test="xm != null">
                XM = #{xm,jdbcType=VARCHAR},
            </if>
            <if test="qm != null">
                QM = #{qm,jdbcType=VARCHAR},
            </if>
            <if test="bm != null">
                BM = #{bm,jdbcType=VARCHAR},
            </if>
            <if test="xmpy != null">
                XMPY = #{xmpy,jdbcType=VARCHAR},
            </if>
            <if test="gjdm != null">
                GJDM = #{gjdm,jdbcType=VARCHAR},
            </if>
            <if test="gj != null">
                GJ = #{gj,jdbcType=VARCHAR},
            </if>
            <if test="mzdm != null">
                MZDM = #{mzdm,jdbcType=VARCHAR},
            </if>
            <if test="minzu != null">
                MINZU = #{minzu,jdbcType=VARCHAR},
            </if>
            <if test="xbdm != null">
                XBDM = #{xbdm,jdbcType=VARCHAR},
            </if>
            <if test="xb != null">
                XB = #{xb,jdbcType=VARCHAR},
            </if>
            <if test="csrq != null">
                CSRQ = #{csrq,jdbcType=TIMESTAMP},
            </if>
            <if test="hyzkdm != null">
                HYZKDM = #{hyzkdm,jdbcType=VARCHAR},
            </if>
            <if test="hyzk != null">
                HYZK = #{hyzk,jdbcType=VARCHAR},
            </if>
            <if test="shengao != null">
                SHENGAO = #{shengao,jdbcType=DECIMAL},
            </if>
            <if test="tizh != null">
                TIZH = #{tizh,jdbcType=DECIMAL},
            </if>
            <if test="hjdxzqh != null">
                HJDXZQH = #{hjdxzqh,jdbcType=VARCHAR},
            </if>
            <if test="hjdxzqhdm != null">
                HJDXZQHDM = #{hjdxzqhdm,jdbcType=VARCHAR},
            </if>
            <if test="hjdxz != null">
                HJDXZ = #{hjdxz,jdbcType=VARCHAR},
            </if>
            <if test="cyzjdm != null">
                CYZJDM = #{cyzjdm,jdbcType=VARCHAR},
            </if>
            <if test="cyzj != null">
                CYZJ = #{cyzj,jdbcType=VARCHAR},
            </if>
            <if test="zjhm != null">
                ZJHM = #{zjhm,jdbcType=VARCHAR},
            </if>
            <if test="zzzhm != null">
                ZZZHM = #{zzzhm,jdbcType=VARCHAR},
            </if>
            <if test="zzdz != null">
                ZZDZ = #{zzdz,jdbcType=VARCHAR},
            </if>
            <if test="gwbh != null">
                GWBH = #{gwbh,jdbcType=VARCHAR},
            </if>
            <if test="gwmc != null">
                GWMC = #{gwmc,jdbcType=VARCHAR},
            </if>
            <if test="gwzrms != null">
                GWZRMS = #{gwzrms,jdbcType=VARCHAR},
            </if>
            <if test="shouji != null">
                SHOUJI = #{shouji,jdbcType=VARCHAR},
            </if>
            <if test="lxdh != null">
                LXDH = #{lxdh,jdbcType=VARCHAR},
            </if>
            <if test="jjlxr != null">
                JJLXR = #{jjlxr,jdbcType=VARCHAR},
            </if>
            <if test="jjlxrdh != null">
                JJLXRDH = #{jjlxrdh,jdbcType=VARCHAR},
            </if>
            <if test="gzdm != null">
                GZDM = #{gzdm,jdbcType=VARCHAR},
            </if>
            <if test="gz != null">
                GZ = #{gz,jdbcType=VARCHAR},
            </if>
            <if test="zhiwu != null">
                ZHIWU = #{zhiwu,jdbcType=VARCHAR},
            </if>
            <if test="rzrq != null">
                RZRQ = #{rzrq,jdbcType=TIMESTAMP},
            </if>
            <if test="cyryztdm != null">
                CYRYZTDM = #{cyryztdm,jdbcType=VARCHAR},
            </if>
            <if test="cyryzt != null">
                CYRYZT = #{cyryzt,jdbcType=VARCHAR},
            </if>
            <if test="zxr != null">
                ZXR = #{zxr,jdbcType=VARCHAR},
            </if>
            <if test="zxbz != null">
                ZXBZ = #{zxbz,jdbcType=VARCHAR},
            </if>
            <if test="zxsj != null">
                ZXSJ = #{zxsj,jdbcType=TIMESTAMP},
            </if>
            <if test="lrsj != null">
                LRSJ = #{lrsj,jdbcType=TIMESTAMP},
            </if>
            <if test="lrr != null">
                LRR = #{lrr,jdbcType=VARCHAR},
            </if>
            <if test="lrdwbm != null">
                LRDWBM = #{lrdwbm,jdbcType=VARCHAR},
            </if>
            <if test="lrdwmc != null">
                LRDWMC = #{lrdwmc,jdbcType=VARCHAR},
            </if>
            <if test="hcdw != null">
                HCDW = #{hcdw,jdbcType=VARCHAR},
            </if>
            <if test="hcr != null">
                HCR = #{hcr,jdbcType=VARCHAR},
            </if>
            <if test="hcsj != null">
                HCSJ = #{hcsj,jdbcType=TIMESTAMP},
            </if>
            <if test="zxyy != null">
                ZXYY = #{zxyy,jdbcType=VARCHAR},
            </if>
            <if test="zkzt != null">
                ZKZT = #{zkzt,jdbcType=VARCHAR},
            </if>
            <if test="bcsj != null">
                BCSJ = #{bcsj,jdbcType=TIMESTAMP},
            </if>
            <if test="dcbs != null">
                DCBS = #{dcbs,jdbcType=DECIMAL},
            </if>
            <if test="bz != null">
                BZ = #{bz,jdbcType=VARCHAR},
            </if>
            <if test="scbz != null">
                SCBZ = #{scbz,jdbcType=DECIMAL},
            </if>
            <if test="biduiflag != null">
                BIDUIFLAG = #{biduiflag,jdbcType=CHAR},
            </if>
            <if test="zpwtgyy != null">
                ZPWTGYY = #{zpwtgyy,jdbcType=VARCHAR},
            </if>
            <if test="zt != null">
                ZT = #{zt,jdbcType=VARCHAR},
            </if>
            <if test="ywx != null">
                YWX = #{ywx,jdbcType=VARCHAR},
            </if>
            <if test="ywm != null">
                YWM = #{ywm,jdbcType=VARCHAR},
            </if>
            <if test="wgrjyxkz != null">
                WGRJYXKZ = #{wgrjyxkz,jdbcType=VARCHAR},
            </if>
            <if test="qzzldm != null">
                QZZLDM = #{qzzldm,jdbcType=VARCHAR},
            </if>
            <if test="qzhm != null">
                QZHM = #{qzhm,jdbcType=VARCHAR},
            </if>
            <if test="zatlq != null">
                ZATLQ = #{zatlq,jdbcType=TIMESTAMP},
            </if>
            <if test="qfjg != null">
                QFJG = #{qfjg,jdbcType=VARCHAR},
            </if>
            <if test="rjrq != null">
                RJRQ = #{rjrq,jdbcType=TIMESTAMP},
            </if>
            <if test="rjka != null">
                RJKA = #{rjka,jdbcType=VARCHAR},
            </if>
            <if test="czlx != null">
                CZLX = #{czlx,jdbcType=VARCHAR},
            </if>
            <if test="bgyy != null">
                BGYY = #{bgyy,jdbcType=VARCHAR},
            </if>
            <if test="bglbdm != null">
                BGLBDM = #{bglbdm,jdbcType=VARCHAR},
            </if>
            <if test="bglb != null">
                BGLB = #{bglb,jdbcType=VARCHAR},
            </if>
            <if test="lzrq != null">
                LZRQ = #{lzrq,jdbcType=TIMESTAMP},
            </if>
            <if test="xxdm != null">
                XXDM = #{xxdm,jdbcType=VARCHAR},
            </if>
            <if test="xx != null">
                XX = #{xx,jdbcType=VARCHAR},
            </if>
            <if test="cylbdm != null">
                CYLBDM = #{cylbdm,jdbcType=VARCHAR},
            </if>
            <if test="cylb != null">
                CYLB = #{cylb,jdbcType=VARCHAR},
            </if>
            <if test="whcddm != null">
                WHCDDM = #{whcddm,jdbcType=VARCHAR},
            </if>
            <if test="whcd != null">
                WHCD = #{whcd,jdbcType=VARCHAR},
            </if>
            <if test="yjbz != null">
                YJBZ = #{yjbz,jdbcType=CHAR},
            </if>
            <if test="yjsj != null">
                YJSJ = #{yjsj,jdbcType=TIMESTAMP},
            </if>
            <if test="djrq != null">
                DJRQ = #{djrq,jdbcType=TIMESTAMP},
            </if>
            <if test="hjlbdm != null">
                HJLBDM = #{hjlbdm,jdbcType=VARCHAR},
            </if>
            <if test="hjlbmc != null">
                HJLBMC = #{hjlbmc,jdbcType=VARCHAR},
            </if>
            <if test="zzmmdm != null">
                ZZMMDM = #{zzmmdm,jdbcType=VARCHAR},
            </if>
            <if test="zzmmmc != null">
                ZZMMMC = #{zzmmmc,jdbcType=VARCHAR},
            </if>
            <if test="zyjnzsh != null">
                ZYJNZSH = #{zyjnzsh,jdbcType=VARCHAR},
            </if>
            <if test="kdywyzyzgzhm != null">
                KDYWYZYZGZHM = #{kdywyzyzgzhm,jdbcType=VARCHAR},
            </if>
            <if test="xzdxzqhdm != null">
                XZDXZQHDM = #{xzdxzqhdm,jdbcType=VARCHAR},
            </if>
            <if test="xzdxzqh != null">
                XZDXZQH = #{xzdxzqh,jdbcType=VARCHAR},
            </if>
        </set>
        where RYLSID = #{rylsid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yuxin.platform.subpublic.pojo.QyryxxLsxx">
        update pub_qyryxx_lsxx
        set HYLBDM = #{hylbdm,jdbcType=VARCHAR},
        HYLB = #{hylb,jdbcType=VARCHAR},
        CYRYBH = #{cyrybh,jdbcType=VARCHAR},
        CYRYLBDM = #{cyrylbdm,jdbcType=VARCHAR},
        CYRYLBMC = #{cyrylbmc,jdbcType=VARCHAR},
        XM = #{xm,jdbcType=VARCHAR},
        QM = #{qm,jdbcType=VARCHAR},
        BM = #{bm,jdbcType=VARCHAR},
        XMPY = #{xmpy,jdbcType=VARCHAR},
        GJDM = #{gjdm,jdbcType=VARCHAR},
        GJ = #{gj,jdbcType=VARCHAR},
        MZDM = #{mzdm,jdbcType=VARCHAR},
        MINZU = #{minzu,jdbcType=VARCHAR},
        XBDM = #{xbdm,jdbcType=VARCHAR},
        XB = #{xb,jdbcType=VARCHAR},
        CSRQ = #{csrq,jdbcType=TIMESTAMP},
        HYZKDM = #{hyzkdm,jdbcType=VARCHAR},
        HYZK = #{hyzk,jdbcType=VARCHAR},
        SHENGAO = #{shengao,jdbcType=DECIMAL},
        TIZH = #{tizh,jdbcType=DECIMAL},
        HJDXZQH = #{hjdxzqh,jdbcType=VARCHAR},
        HJDXZQHDM = #{hjdxzqhdm,jdbcType=VARCHAR},
        HJDXZ = #{hjdxz,jdbcType=VARCHAR},
        CYZJDM = #{cyzjdm,jdbcType=VARCHAR},
        CYZJ = #{cyzj,jdbcType=VARCHAR},
        ZJHM = #{zjhm,jdbcType=VARCHAR},
        ZZZHM = #{zzzhm,jdbcType=VARCHAR},
        ZZDZ = #{zzdz,jdbcType=VARCHAR},
        GWBH = #{gwbh,jdbcType=VARCHAR},
        GWMC = #{gwmc,jdbcType=VARCHAR},
        GWZRMS = #{gwzrms,jdbcType=VARCHAR},
        SHOUJI = #{shouji,jdbcType=VARCHAR},
        LXDH = #{lxdh,jdbcType=VARCHAR},
        JJLXR = #{jjlxr,jdbcType=VARCHAR},
        JJLXRDH = #{jjlxrdh,jdbcType=VARCHAR},
        GZDM = #{gzdm,jdbcType=VARCHAR},
        GZ = #{gz,jdbcType=VARCHAR},
        ZHIWU = #{zhiwu,jdbcType=VARCHAR},
        RZRQ = #{rzrq,jdbcType=TIMESTAMP},
        CYRYZTDM = #{cyryztdm,jdbcType=VARCHAR},
        CYRYZT = #{cyryzt,jdbcType=VARCHAR},
        ZXR = #{zxr,jdbcType=VARCHAR},
        ZXBZ = #{zxbz,jdbcType=VARCHAR},
        ZXSJ = #{zxsj,jdbcType=TIMESTAMP},
        LRSJ = #{lrsj,jdbcType=TIMESTAMP},
        LRR = #{lrr,jdbcType=VARCHAR},
        LRDWBM = #{lrdwbm,jdbcType=VARCHAR},
        LRDWMC = #{lrdwmc,jdbcType=VARCHAR},
        HCDW = #{hcdw,jdbcType=VARCHAR},
        HCR = #{hcr,jdbcType=VARCHAR},
        HCSJ = #{hcsj,jdbcType=TIMESTAMP},
        ZXYY = #{zxyy,jdbcType=VARCHAR},
        ZKZT = #{zkzt,jdbcType=VARCHAR},
        BCSJ = #{bcsj,jdbcType=TIMESTAMP},
        DCBS = #{dcbs,jdbcType=DECIMAL},
        BZ = #{bz,jdbcType=VARCHAR},
        SCBZ = #{scbz,jdbcType=DECIMAL},
        BIDUIFLAG = #{biduiflag,jdbcType=CHAR},
        ZPWTGYY = #{zpwtgyy,jdbcType=VARCHAR},
        ZT = #{zt,jdbcType=VARCHAR},
        YWX = #{ywx,jdbcType=VARCHAR},
        YWM = #{ywm,jdbcType=VARCHAR},
        WGRJYXKZ = #{wgrjyxkz,jdbcType=VARCHAR},
        QZZLDM = #{qzzldm,jdbcType=VARCHAR},
        QZHM = #{qzhm,jdbcType=VARCHAR},
        ZATLQ = #{zatlq,jdbcType=TIMESTAMP},
        QFJG = #{qfjg,jdbcType=VARCHAR},
        RJRQ = #{rjrq,jdbcType=TIMESTAMP},
        RJKA = #{rjka,jdbcType=VARCHAR},
        CZLX = #{czlx,jdbcType=VARCHAR},
        BGYY = #{bgyy,jdbcType=VARCHAR},
        BGLBDM = #{bglbdm,jdbcType=VARCHAR},
        BGLB = #{bglb,jdbcType=VARCHAR},
        LZRQ = #{lzrq,jdbcType=TIMESTAMP},
        XXDM = #{xxdm,jdbcType=VARCHAR},
        XX = #{xx,jdbcType=VARCHAR},
        CYLBDM = #{cylbdm,jdbcType=VARCHAR},
        CYLB = #{cylb,jdbcType=VARCHAR},
        WHCDDM = #{whcddm,jdbcType=VARCHAR},
        WHCD = #{whcd,jdbcType=VARCHAR},
        YJBZ = #{yjbz,jdbcType=CHAR},
        YJSJ = #{yjsj,jdbcType=TIMESTAMP},
        DJRQ = #{djrq,jdbcType=TIMESTAMP},
        HJLBDM = #{hjlbdm,jdbcType=VARCHAR},
        HJLBMC = #{hjlbmc,jdbcType=VARCHAR},
        ZZMMDM = #{zzmmdm,jdbcType=VARCHAR},
        ZZMMMC = #{zzmmmc,jdbcType=VARCHAR},
        ZYJNZSH = #{zyjnzsh,jdbcType=VARCHAR},
        KDYWYZYZGZHM = #{kdywyzyzgzhm,jdbcType=VARCHAR},
        XZDXZQHDM = #{xzdxzqhdm,jdbcType=VARCHAR},
        XZDXZQH = #{xzdxzqh,jdbcType=VARCHAR}
        where RYLSID = #{rylsid,jdbcType=INTEGER}
    </update>
</mapper>